/.venv/
/venv/
test.ipynb
/.vscode/
wireshark_commands.txt
/.idea/
*.pcap
*.pkl
/Attack Simulation Lab Dataset/attack-simulation-alert.csv
/ARCADE/n_packets=2_l=100/inf-dropbox/inf-dropbox_attack.csv
